[Database]
host=localhost
port=3306
user=MySQL_userName
pass=MySQL_password
database=gene_model_diff
load_database=gene_model_load
prefix=release1
[Data]
datadir=path/to/input_data
scriptdir=path/to/run_gene_model_diff.pl
log_file=path/to/gene_model_logFile.conf
[Validate]
GFF_mRNA=10
GFF_exon=20
CDS_start=2
CDS_stop=3
CDS_internal_stop=4
runtime_error=-1
approved_email=superuser@something.xx
